<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 使用特性 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <meta-data
        android:name="ScopedStorage"
        android:value="true" />

    <application
        android:name=".OmsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />


        <!-- 闪屏页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!--       登陆页面-->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <!--       登陆页面-->
        <activity
            android:name=".activity.LoginNewActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <!--       登陆页面-->
        <activity
            android:name=".activity.SelectStoreActiviy"
            android:exported="false"
            android:screenOrientation="landscape" />
        <!--        主页-->
        <activity
            android:name=".activity.MainActivity"

            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <!--        设置页面-->
        <activity
            android:name=".activity.SettingActivity"

            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.meiling.account.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9a26d944277356b653bc2657adc35059"></meta-data>

        <service android:name="com.amap.api.location.APSService" />
        <!--        <service-->
        <!--            android:name="com.umeng.message.UmengMessageIntentReceiverService"-->
        <!--            android:exported="true"-->
        <!--            android:process=":channel">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="org.android.agoo.client.MessageReceiverService" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        <receiver-->
        <!--            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"-->
        <!--            android:exported="false" />-->

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>
        <!--        <service-->
        <!--            android:name="com.umeng.message.UmengDownloadResourceService"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <!--        <provider-->
        <!--            android:name="com.umeng.message.provider.MessageProvider"-->
        <!--            android:authorities="${applicationId}.umeng.message"-->
        <!--            android:exported="false">-->
        <!--            <grant-uri-permission android:pathPattern=".*" />-->
        <!--        </provider> &lt;!&ndash; 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end &ndash;&gt;-->
        <!--        <receiver-->
        <!--            android:name=".jpush.MyPushReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                &lt;!&ndash; 设置接收的广播类型 &ndash;&gt;-->
        <!--                <action android:name="com.example.mypushreceiver.PUSH_MESSAGE" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <!--        &lt;!&ndash; 小米&ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name=".activity.MfrMessageActivity"-->
        <!--            android:exported="true"-->
        <!--            android:launchMode="singleTask">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data-->
        <!--                    android:host="com.meiling.oms"-->
        <!--                    android:path="/thirdpush"-->
        <!--                    android:scheme="agoo" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

    </application>
    <!--华为 -->
    <meta-data
        android:name="com.huawei.hms.client.appid"
        android:value="appid=108169495" />

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />
    </queries>

    <queries package="com.meiling.account.OmsApplication">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE">

            </action>
        </intent>
    </queries>

</manifest>