<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 读文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 使用特性 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <meta-data
        android:name="ScopedStorage"
        android:value="true" />

    <application
        android:name=".OmsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tarket"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterNextActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
        </activity>

        <activity
            android:name=".activity.BindingLogisticsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
        </activity>

        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AgreementActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPwdActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPwdResetActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPwdFinishActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPwdGetCodeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.OrderDisAddTipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderChangeAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderChangeAddressMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MessageCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderDisActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Search1Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".activity.PostDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WriteOffActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeituanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WriteDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySettlementDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReleasePostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RechargeFinishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ModifyPassWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoucherInspectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoucherInspectionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.WriteOffDetailsActivity" />
        <activity android:name=".activity.RegistSuccessActivity" />

        <activity
            android:name=".activity.InputBoredomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StoreManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewlyBuiltStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BaseWebActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.meiling.oms.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9a26d944277356b653bc2657adc35059"></meta-data>

        <service android:name="com.amap.api.location.APSService" />
        <!--        <service-->
        <!--            android:name="com.umeng.message.UmengMessageIntentReceiverService"-->
        <!--            android:exported="true"-->
        <!--            android:process=":channel">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="org.android.agoo.client.MessageReceiverService" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->

        <!--        <receiver-->
        <!--            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"-->
        <!--            android:exported="false" />-->

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>
        <!--        <service-->
        <!--            android:name="com.umeng.message.UmengDownloadResourceService"-->
        <!--            android:exported="false"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->

        <!--        <provider-->
        <!--            android:name="com.umeng.message.provider.MessageProvider"-->
        <!--            android:authorities="${applicationId}.umeng.message"-->
        <!--            android:exported="false">-->
        <!--            <grant-uri-permission android:pathPattern=".*" />-->
        <!--        </provider> &lt;!&ndash; 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end &ndash;&gt;-->
        <!--        <receiver-->
        <!--            android:name=".jpush.MyPushReceiver"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                &lt;!&ndash; 设置接收的广播类型 &ndash;&gt;-->
        <!--                <action android:name="com.example.mypushreceiver.PUSH_MESSAGE" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>
    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />
    </queries>

</manifest>